{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">开始</a>
      <a class="btn btn-danger btn-lg px-4 mb-2" href="https://ostrichalgorithm.github.io/hasaki/hasaki%20Setup%200.1.2.exe" role="button">下载</a>
      <!-- <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p> -->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "Chinese" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">自动接受对局</h2>
          <p>进入队列后，你可以起身上个厕所，泡个茶，抽支烟。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">秒选英雄</h2>
          <p>进入选人阶段，自动秒选英雄。妈妈再也不用担心我抢不到亚索啦！</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">绰号筛选</h2>
          <p>作为老玩家从来都是叫英雄外号的，大名什么的我从来记不得。</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">秒选喊话</h2>
          <p>作为一个高情商的玩家，秒选后必须要要喊一句:"中单亚索不给就送！！"</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">战绩先知</h2>
          <p>选人阶段，查询队友最近20局战绩，计算出胜率、KDA、常用英雄。队友牛马一键鉴定。</p>
        </div>
        <!-- <div class="col-lg-5">
          <h2 class="h4">Dark mode</h2>
          <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
        </div> -->
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Security aware</h2>
          <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a> out of the box. Easily change the default Security Headers to suit your needs.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Fast by default ⚡️</h2>
          <p>Get 100 scores on <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=92eaa982d7dbf92f94fe8ecc03987c9a">Google Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">SEO-ready</h2>
          <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings to your liking.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Full text search</h2>
          <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Page layouts</h2>
          <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Dark mode</h2>
          <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
